<div id="sidebar">
  <%= link_to '重新发送激活邮件', :action => 'lost_activation', :class => 'navLink' %>
</div>
<div id="content">
  <h2>注册成功</h2>
  <p>注册确认信已经发往你的电子邮箱，请点击邮件中的链接来完成注册。</p>
  <div class="clear"></div>
</div>

