<div id="sidebar">

</div>
<div id="content">
  <% if flash[:status] == 'SENT' %>

  <% else %>
    <h2>密码重设</h2>
    <% form_for :account, :url => {:action => 'forgot_password'} do |form| %>
      <fieldset>
        <p>请输入您在本站使用的电子邮箱地址</p>
        <div><%= form.text_field :email, :size => 40, :maxlength=>60, :class => 'text' %></div>
        <%= submit_tag '重设密码' %>
      </fieldset>
    <% end %>
    
  <% end %>
  <div class="clear"></div>
</div>

