<div id="sidebar">

</div>
<div id="content">
  <h2>密码重设</h2>
  <% form_for :account, :url => {:action => "reset_password"} do |form| %>
    <fieldset>
      <div>
        <label for="account_password" >注册密码</label>
        <%= form.password_field :password, :size => 20, :maxlength=>20, :class => 'text' %>
      </div>
      <div>
        <label for="account_password_confirmation" >再次输入密码</label>
        <%= form.password_field :password_confirmation, :size => 20, :maxlength=>20, :class => 'text' %>
      </div>
      <div class="submitButton"><%= submit_tag "重设密码" %></div>
    </fieldset>
    
  <% end %>
  <div class="clear"></div>
</div>

